@import '../components/variables.scss';

.bigtext{
    h1,h2,h3,h4,h5,h6{
        text-align: left;
        font-size: 5vw;
        line-height: auto;
            a{
                color: white;
                text-decoration: underline;
            }
            a:hover{
                color:black;
            }
        
    } 
}
.cont{
    padding-top: 20vh; 
}