@import '../components/variables.scss';

.table{
    a{
        color:grey;
    }
    a:hover{
        color:black;
    }
}
th{
    span{
        margin-bottom: 0.5rem;
        margin-left: 0.5rem;
    }
}