@import './variables.scss';


.navbartoggler{
border: 0px solid transparent;
border-radius: 0rem;
font-size: 2rem;
margin: 0;
margin-right: -17px;
padding: 0;
}


.navlinkcont{
 margin-left: 1rem;

}


 @media only (max-width: 988px) {
    .navlinkcont{
        margin-left: 1rem;
       
       }
 }


.navlink{
     color:grey;
}

.navlink:hover{
    color: black;
}

.activenavlink{
    color: $primarycolor;
}

.logo{

    width: 170px;
    margin-left:-20px;
    margin-bottom: 5px;   
}
@media (prefers-color-scheme: dark) {
    .logo{
        background-color: white;
    }
    .navlink{
        color:white;
   }
  }

@media only (max-width: 650.98px) { 
    .logo{
        margin-left:-15px;
    }
    
}